.hide {
  display: none;
}

.display {
  display: flex;
}

.my-alert .heading {
  margin-top: 0;
  width: 100%;
  align-items: center;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}
