#footer {
  background-color:#fff;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0;
}

.footer-logo {
  color: #ec5200;
}

.social-links {
  display: flex;
  padding-left: 0;
}

.social-links > li {
  display: inline-block;
  margin: 0 4px;
  padding: 0 6px;
}

.social-links li a {
  font-size: 30px;
}
